<ion-header class="ion-no-border">
  <ion-toolbar color="primary" class="header-konoha">
    <ion-title>Misiones Konoha</ion-title>
    
    <ion-buttons slot="end">
      <div class="profile-avatar-btn" routerLink="/perfil">
        <img src="https://api.dicebear.com/7.x/avataaars/svg?seed=Naruto" alt="Perfil">
      </div>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar color="dark" class="search-toolbar">
    <ion-searchbar placeholder="Buscar misión..." 
                   [(ngModel)]="searchText"
                   (ionInput)="filterMissions()"
                   animated="true"
                   showCancelButton="focus">
    </ion-searchbar>
  </ion-toolbar>

  <ion-toolbar color="dark" class="segment-toolbar">
    <ion-segment [(ngModel)]="segmentValue" (ionChange)="filterMissions()" mode="md" scrollable="true">
      <ion-segment-button value="DISPONIBLE">
        <ion-label>Disponibles</ion-label>
      </ion-segment-button>
      <ion-segment-button value="EN_CURSO">
        <ion-label>En Curso</ion-label>
      </ion-segment-button>
      <ion-segment-button value="COMPLETADA">
        <ion-label>Completadas</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding bg-pattern">
  
  <div *ngIf="filteredMissions.length === 0" class="empty-state">
    <ion-icon name="file-tray-outline"></ion-icon>
    <p>No hay pergaminos aquí.</p>
  </div>

  <ion-card *ngFor="let m of filteredMissions" 
            class="mission-card" 
            (click)="goToDetail(m)"> <div class="card-left-border" [class]="'rank-' + m.rankRequirement"></div>
    
    <ion-card-header>
      <div class="header-top">
        <ion-badge [class]="'badge-rank-' + m.rankRequirement">
          RANGO {{ m.rankRequirement }}
        </ion-badge>
        <span class="reward">💰 {{ m.reward }}</span>
      </div>
      <ion-card-title>{{ m.title }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p class="description">{{ m.description | slice:0:80 }}...</p>
      <div class="status-indicator" [class]="m.status.toLowerCase()">
        {{ m.status.replace('_', ' ') }}
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>