<ion-content class="ion-padding ion-text-center">
  <div style="margin-top: 50px;">
    <h1>🥷 Konoha ID</h1>
    <p>Identifícate, Shinobi</p>
  </div>

  <ion-item class="ion-margin-top">
    <ion-label position="floating">Usuario</ion-label>
    <ion-input [(ngModel)]="credentials.username"></ion-input>
  </ion-item>

  <ion-item class="ion-margin-top">
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="credentials.password"></ion-input>
  </ion-item>

  <ion-button expand="block" class="ion-margin-top" (click)="login()">
    Entrar
  </ion-button>

  <p class="ion-margin-top">
    ¿Nuevo en la aldea? <a routerLink="/registro">Regístrate aquí</a>
  </p>
</ion-content>